aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  color: var(--theme-color__font--main);
  background: linear-gradient(30deg, var(--theme-color__bg--main), var(--theme-color__bg--secondary));
  position: relative;
  z-index: 300;
  width: 100%;
  height: 100%;
  transition: width .2s ease-out;
}

/* navigation */
nav {
  padding: var(--outter-padding) .5rem;
  height: 100%;
}

aside:hover {
  position: sticky;
  width: 300px;
  top: 0;
  left: 0;
  border-right: 2px solid var(--accent-orange);
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.5);
}

.nav-link {
  position: relative;
}

.nav-link__text {
  position: absolute;
  top: 2px;
  left: 30px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-300%);
  transition: opacity .2s ease-out .1s, transform .1s ease-out .1s;
}

aside:hover .nav-link__text {
  opacity: 1;
  transform: translateX(0);
}


.nav-list {
  display: flex;
  flex-direction: column;
  position: sticky;
}
.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  font-size: .7rem;
  font-weight: 300;
  cursor: pointer;
  border-radius: 6px;
}
.nav-item > svg {
  margin-right: 10px;
  background: var(--theme-color__bg--main);
}
.nav-item:hover {
  background: rgba(255, 255, 255, .2);
}

.nav-link.active .nav-link_text {
  font-weight: 900;
  position: relative;
}
.nav-link.active .nav-link__text:after {
  background: var(--accent-orange);
  content: " ";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 3px;
  right: -13px;
}
