main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}

.bookings {
  height: 100%;
}

.site-tabs-container {
  max-width: 900px;
  overflow: hidden;
}

.site-tabs {
  border-top: 1px solid var(--theme-light__font--grey);
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: none;
}

.site {
  padding: 10px;
  border-right: 1px solid var(--theme-light__font--grey);
  font-size: 0.8rem;
  white-space: nowrap;
}

.site-select__container {
  justify-self: flex-end;
  margin-left: auto;
}
