.topbar {
  grid-area: topbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--outter-padding);
}



.location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location__title {
  margin-right: 5rem;
}

.with-left-accent {
  border-left: 3px solid var(--accent-orange);
  padding-left: 15px;
}

.datetime {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}
.date {
  font-size: 0.8rem;
  color: var(--theme-light__font--grey);
  font-weight: 100;
}
.time {
  font-size: 1.8rem;
  color: var(--theme-light);
  font-weight: 500;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  align-self: flex-end;
}

.user__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 3px;
  /* gap: .6rem; */
}
.user__details--name {
  font-size: 1.2rem;
  font-weight: 700;
}
.user__details--title {
  color: var(--theme-light__font--grey);
  font-size: 0.9rem;
}
.user__avatar--container {
  --size: 64px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid var(--theme-light);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.user__avatar--image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.notification-dot {
  background: var(--accent-coral-red);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 3px;
  right: -3px;
  z-index: 400px;
  font-size: .5rem;
  font-weight: 100;
  text-align: center;
  padding-top: 4px;
}
